<div class="main-payment-images">
  <div class="payment-image">
    <img
      src="{{ settings.payment_fpx | image_url }}"
      alt="Hero Banner Image"
      width="auto"
      height="auto"
      class="h-auto object-cover"
    >
  </div>
  <div class="payment-image">
    <img
      src="{{ settings.payment_touchgo | image_url }}"
      alt="payment payment_touchgo"
      width="auto"
      height="auto"
      class="h-auto object-cover"
    >
  </div>
  <div class="payment-image">
    <img
      src="{{ settings.payment_grabpay | image_url }}"
      alt="payment payment_grabpay"
      width="auto"
      height="auto"
      class="h-auto object-cover"
    >
  </div>
  <div class="payment-image">
    <img
      src="{{ settings.payment_visa | image_url }}"
      alt="payment payment_visa"
      width="auto"
      height="auto"
      class="h-auto object-cover"
    >
  </div>
  <div class="payment-image">
    <img
      src="{{ settings.payment_master | image_url }}"
      alt="payment payment_master"
      width="auto"
      height="auto"
      class="h-auto object-cover"
    >
  </div>
</div>
