<div
  class="collection_main_filter_ctm"
  id="collection-filter-section"
  {% comment %}
    data-collections="
      [{% if collection.metafields.custom.select_collections != blank %}
          {% assign collection_meta = collection.metafields.custom.select_collections.value %}
          {% for collec in collection_meta %}
            {% assign selected_collection = collec.select_collection.value %}
            {
              "title": {{ collec.collection_title | json }},
              "handle": {{ selected_collection.handle | json }},
              "url": {{ selected_collection.url | json }}
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        {% endif %}
      ]
    "
  {% endcomment %}
>
  <div class="collection_filter_heading">
    {% if section.settings.filter_title != blank %}
      <h2>{{ section.settings.filter_title }}</h2>
    {% endif %}
  </div>
  <div class="collection_filter_grid_main flex items-center justify-evenly">
    {% if collection.metafields.custom.select_collections != blank %}
      {% assign collection_meta = collection.metafields.custom.select_collections.value %}
      {% for collec in collection_meta %}
        {% assign selected_collection = collec.select_collection.value %}

        <div class="main_filter_icon_text">
          {% if selected_collection.url %}
            <a href="{{ selected_collection.url }}">
          {% endif %}

          {% if collec.collection_image != blank %}
            <div class="main_filter_icon bg-primary-red">
              <img
                src="{{ collec.collection_image | image_url }}"
                alt="{{ collec.collection_title }}"
                width="40"
                height="40"
                class="h-auto object-cover"
              >
            </div>
          {% endif %}

          {% if collec.collection_title != blank %}
            <div class="main_filter_text">
              <p>{{ collec.collection_title }}</p>
            </div>
          {% endif %}

          {% if selected_collection.url %}
            </a>
          {% endif %}
        </div>
      {% endfor %}

    {% else %}
      {% for block in section.blocks %}
        <div class="main_filter_icon_text">
          {% if block.settings.collection_link != blank %}
            <a href="{{ block.settings.collection_link }}">
          {% endif %}
          {% if block.settings.collection_icon != blank %}
            <div class="main_filter_icon bg-primary-red">
              <img
                src="{{ block.settings.collection_icon | image_url }}"
                alt="Hero Banner Image"
                width="40"
                height="40"
                class="h-auto object-cover"
              >
            </div>
          {% endif %}
          {% if block.settings.collection_name != blank %}
            <div class="main_filter_text">
              <p>{{ block.settings.collection_name }}</p>
            </div>
          {% endif %}
          {% if block.settings.collection_link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Filter",
  "class": "section_collection_filter_custom",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class"
    },
    {
      "type": "text",
      "label": "Filter Title",
      "id": "filter_title"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "label": "Collection Name",
          "id": "collection_name"
        },
        {
          "type": "image_picker",
          "label": "Collection Icon",
          "id": "collection_icon"
        },
        {
          "type": "url",
          "id": "collection_link",
          "label": "Collection URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Filter"
    }
  ]
}
{% endschema %}
