<div class="download-app-wrapper overflow-hidden relative lgscreen2:py-100 mdscreen6:py-50 py-32 {{ section.settings.extra_class }}">
  <div class="container_fluid">
    <div class="download-app-content text-center max-w-[850px] mx-auto">
      <div class="flex items-center gap-8 justify-center mb-12">
        {% if section.settings.red_coffee_cup %}
          <div class="mb-2 w-max">
            <img
              src="{{ section.settings.red_coffee_cup | image_url: width: 40 }}"
              alt="Coffee Icon"
              width="auto"
              height="auto"
            >
          </div>
        {% endif %}

        {% if section.settings.coffee_cup_text != blank %}
          <p class="text-primary-red">{{ section.settings.coffee_cup_text }}</p>
        {% endif %}
      </div>

      {% if section.settings.heading != blank %}
        <div class="mb-[17px] text-black capitalize">{{ section.settings.heading }}</div>
      {% endif %}

      {% if section.settings.desciption != blank %}
        <div class="text-grey">{{ section.settings.desciption }}</div>
      {% endif %}

      <div class="flex justify-center gap-[18px] max-smscreen:flex-col max-smscreen:max-w-[190px] mx-auto mt-50 max-mdscreen6:mt-32">
        {% if section.settings.app_store_url != blank %}
          <a class="ctm-button ctm-button-red max-smscreen:w-full" href="{{ section.settings.app_store_url }}">
            {{ section.settings.app_store_text }}
          </a>
        {% endif %}
        {% if section.settings.google_play_url != blank %}
          <a
            class="ctm-button ctm-button-red-outline max-smscreen:w-full"
            href="{{ section.settings.google_play_url }}"
          >
            {{ section.settings.google_play_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% if section.settings.decorate_cup %}
    <div class="absolute right-0 max-smscreen:-right-[15px] -bottom-[30px] max-smscreen:-bottom-[15px]">
      <img
        src="{{ section.settings.decorate_cup | image_url: width: 110 }}"
        class="max-lgscreen2:w-[100px] max-mdscreen6:w-[75px]"
        alt="Coffee Icon"
        width="auto"
        height="auto"
      >
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Download Apps",
  "class": "ctm-download-apps",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class"
    },
    {
      "type": "image_picker",
      "label": "Red Coffee Cup",
      "id": "red_coffee_cup"
    },
    {
      "type": "image_picker",
      "label": "Decorate Cup",
      "id": "decorate_cup"
    },
    {
      "type": "text",
      "label": "Coffee Cup Text",
      "id": "coffee_cup_text"
    },
    {
      "type": "richtext",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "richtext",
      "label": "Desciption",
      "id": "desciption"
    },
    {
      "type": "text",
      "label": "App Store Text",
      "id": "app_store_text"
    },
    {
      "type": "url",
      "label": "App Store URL",
      "id": "app_store_url"
    },
    {
      "type": "text",
      "label": "Google Play Text",
      "id": "google_play_text"
    },
    {
      "type": "url",
      "label": "Google Play URL",
      "id": "google_play_url"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Download Apps"
    }
  ]
}
{% endschema %}
